In [1]:
# Add the Pandas dependency.
import pandas as pd

In [2]:
# Files to load
amazon_review_data_to_load = "/Users/ava/Desktop/GW/Amazon Vine Analysis/vine_table.csv"

amazon_review_df = pd.read_csv(amazon_review_data_to_load)
amazon_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,REAKC26P07MDN,5.0,0.0,0.0,N,Y
1,R3NU7OMZ4HQIEG,2.0,0.0,1.0,N,Y
2,R14QJW3XF8QO1P,5.0,0.0,0.0,N,Y
3,R2HB7AX0394ZGY,5.0,0.0,0.0,N,Y
4,RGKMPDQGSAHR3,5.0,0.0,0.0,N,Y

In [3]:
# Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 
relevant_review_df = amazon_review_df[amazon_review_df["total_votes"] >= 20]
relevant_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y

In [4]:
# retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.
relevant_review_df["vote_percentage"] = (relevant_review_df["helpful_votes"]/relevant_review_df["total_votes"])
relevant_review_df2 = relevant_review_df[relevant_review_df["vote_percentage"] >= .5]
relevant_review_df2.head()

/Users/ava/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,vote_percentage
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y,0.870968
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y,1.000000
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y,0.935484
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y,0.833333
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y,0.964286

In [5]:
#retrieves all the rows where a review was written as part of the Vine program (paid)
paid_review_df = relevant_review_df2[relevant_review_df2["vine"] == "Y"]
paid_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,vote_percentage
8547,R3A71VR1JZD8WF,2.0,27.0,30.0,Y,N,0.900000
10246,R16OMUJIGI18JZ,5.0,72.0,72.0,Y,N,1.000000
25168,R3TS8ZP2FHQ9XR,5.0,39.0,42.0,Y,N,0.928571
46422,R2MHP919VZN7DI,5.0,29.0,30.0,Y,N,0.966667
66446,RD2BCTVS59A5L,2.0,20.0,20.0,Y,N,1.000000

In [6]:
#retrieves all the rows where a review was not written as part of the Vine program (unpaid)
unpaid_review_df = relevant_review_df2[relevant_review_df2["vine"] == "N"]
unpaid_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,vote_percentage
128,R21KC552Y6HL8X,1.0,27.0,31.0,N,Y,0.870968
161,RX9WC9FTIR1XR,5.0,25.0,25.0,N,Y,1.000000
256,RGDCOU1KBHMNG,3.0,29.0,31.0,N,Y,0.935484
267,RVTYWID2TPMMY,2.0,35.0,42.0,N,Y,0.833333
719,R2CMPZ5VESGRLY,4.0,27.0,28.0,N,Y,0.964286

In [7]:
#paid total number of reviews
paid_review_total = paid_review_df["review_id"].count()
paid_review_total

170

In [8]:
#paid 5 star reviews
paid_5stars = paid_review_df[paid_review_df["star_rating"] == 5.0]
paid_5stars_count = paid_5stars["review_id"].count()
paid_5stars_count

65

In [9]:
#paid percent 5 stars
paid_5star_percent = paid_5stars_count/paid_review_total
paid_5star_percent

0.38235294117647056

In [10]:
#unpaid total number of reviews
unpaid_review_total = unpaid_review_df["review_id"].count()
unpaid_review_total

37840

In [11]:
#unpaid 5 star reviews
unpaid_5stars = unpaid_review_df[unpaid_review_df["star_rating"] == 5.0]
unpaid_5stars_count = unpaid_5stars["review_id"].count()
unpaid_5stars_count

20612

In [12]:
#unpaid percent 5 stars
unpaid_5star_percent = unpaid_5stars_count/unpaid_review_total
unpaid_5star_percent

0.5447145877378435